* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page-wrapper {
  padding: 20px;
}

#page-controls {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.content-half {
  width: 50%;
}

.content-half:last-child {
  font-weight: 400;
  max-height: 160px;
}

.content-wrapper p {
  margin: 0;
  padding: 0;
  display: block;
}

#input-forms {
  display: inline-block;
  height: 220px;
  width: 825px;
  margin-bottom: 15px;
  padding: 10px 0 0 0;
  background-color: #e8d9c5;
}

.input-form-selector {
  padding: 3px 0;
  width: 16%;
  display: inline-block;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
}

.input-form-selector.selected {
  background-color: #f6f0e8;
}

#input-form-forms {
  background-color: #f6f0e8;
  padding-top: 5px;
  height: 100%;
}

#input-forms form {
  padding: 5px 15px;
}

#what-if form #operation {
  display: flex;
  align-items: center;
}

#what-if form #cash-treatment {
  margin-top: -15px;
}

#status-messages-wrapper {
  display: inline-block;
  padding: 0 5px;
  vertical-align: top;
  width: 100%;
  font-weight: 800;
}

#status-messages {
  font-weight: 400;
  max-height: 125px;
  overflow-y: scroll;
}

#status-messages p {
  margin-bottom: 0;
}

#left-side {
  display: flex;
  flex-direction: column;
}

#last-status-messages {
  padding: 5px;
  color: red;
  min-height: 2em;
  max-height: 2em;
}

#position-listing,
#aggr-position-listing {
  padding: 10px;
  width: 100%;
}

#baseline-control {
  display: inline-block;
  margin: 0;
  padding: 20px 0 0;
}

#view-controls {
  max-width: 500px;
}

#view-controls form label {
  display: block;
}

#input-controls #what-if form label {
  display: block;
}

#column-control {
  margin: 10px 0;
  max-width: 400px;
}

#column-control span {
  display: inline-block;
  padding: 0 9px;
  font-size: 0.85em;
  cursor: pointer;
  border: 1px solid white;
}

#column-control span:hover {
  border: 1px solid silver;
}

#column-control span.strikethrough {
  text-decoration: line-through;
}

form input {
  margin: 0 5px;
  font-size: 0.9em;
  background-color: white;
}

button,
#input-forms input {
  line-height: 1.0em;
}

#position-listing button,
#aggr-position-listing button {
  font-size: 0.7em;
}

table#position-listing,
table#aggr-position-listing {
  margin-bottom: 30px;
}

tr.position-row {
  margin: 5px 0;
}

th.whatif {
  border-top: 1px solid black;
}

#position-listing th,
#position-listing td,
#aggr-position-listing th,
#aggr-position-listing td {
  padding: 0 5px;
  border: 1px solid inherit;
}

table#position-listing,
table#aggr-position-listing {
  table-layout: fixed;
  width: 100%;
}

#my-performance-wrapper {
  display: flex;
  height: 100%;
}

#my-performance-rowlabels {
  padding: 0 5px 0 15px;
  min-width: 135px;
}

#my-performance {
  overflow: auto;
}

#my-performance-rowlabels table th {
  text-align: right;
}

#my-performance table th,
#my-performance table td {
  text-align: center;
}

#position-listing tbody tr:nth-last-child(2) td.whatif {
  border-bottom: 1px solid black;
}

#aggr-position-listing tbody tr:nth-last-child(1) td.whatif {
  border-bottom: 1px solid black;
}

#position-listing th.whatif,
#position-listing td.whatif,
#aggr-position-listing th.whatif,
#aggr-position-listing td.whatif {
  background-color: #dbddff;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.position-is-index {
  background: orange;
  font-weight: 800;
}

.position-is-index .whatif {
  background-image: linear-gradient(orange, orange), linear-gradient(#dbddff, #dbddff);
  background-blend-mode: multiply;
}

.position-is-cash {
  background: #64e764;
  font-weight: 800;
}

.position-is-cash .whatif {
  background-image: linear-gradient(#64e764, #64e764), linear-gradient(#dbddff, #dbddff);
  background-blend-mode: multiply;
}

.position-is-aggregate {
  background: lightgoldenrodyellow;
  font-weight: 800;
}

.position-is-aggregate .whatif {
  background-image: linear-gradient(lightgoldenrodyellow, lightgoldenrodyellow), linear-gradient(#dbddff, #dbddff);
  background-blend-mode: multiply;
}

#position-listing th,
#aggr-position-listing th,
#position-listing .position-cell,
#aggr-position-listing .position-cell {
  width: 125px;
  text-align: center;
}

#transaction-log {
  display:flex;
  flex-direction: column;
}

#transaction-log-controls label,
#transaction-log-controls input,
#transaction-log-controls button,
#transaction-log-controls div {
  display: inline;
  margin-right: 5px;
}

#transactions {
  overflow-y: scroll;
  max-height: 120px;
}

.transaction:hover {
  cursor: pointer;
  color: red;
  text-decoration: line-through;
}

#my-performance td{

}

.strikethrough {
  text-decoration: line-through;
}

.hide {
  visibility: hidden;
}

.strong {
  font-weight: 800;
}

td {
  min-width: 125px;
}

th.clickable:hover,
td.clickable:hover {
  cursor: pointer;
}

td.italics {
  font-style: italic;
}

.totals {
  font-weight: 800;
  text-align: center;
  margin-top: 3px;
  border-top: 3px solid black;
}

.performance-cell.text-green,
.position-cell.text-green {
  color: green;
}

.performance-cell.text-red,
.position-cell.text-red {
  color: red;
}

.position-cell.col-symbol {
  border: 1px solid transparent;
  position: relative;
}

tr:not(.position-is-index):not(.position-is-cash) > .position-cell.col-riskfactor {
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
}

.position-cell.col-symbol.hovering {
  color: red;
  text-decoration: line-through;
}

.position-cell.col-riskfactor.hovering {
  color: blue;
}

button.delete.hovering {
  background-color: red;
  border-color: red;
  color: white;
}

button.edit.hovering {
  background-color: white;
  color: black;
  border-color: transparent;
}

button.edit.hovering,
button.delete.hovering {
  position: absolute;
  bottom: 1px;
  right: 5px;
  margin: 1px;
  padding: 1px 3px;
  cursor: pointer;
  font-weight: 800;
  border-radius: 5px;
}

button.edit:not(.hovering),
button.delete:not(.hovering) {
  display: none;
}

button.tag-removal {
  margin: 1px;
  padding: 1px 2px;
  cursor: pointer;
}

button.tag-removal:disabled {
  cursor: default;
}

button.tag-removal:hover:not(:disabled) {
  color: red;
  border-color: red;
  border-radius: 5px;
  text-decoration: line-through;
}

.switch {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
}

.switch::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius:50%;
  background-color: white;
  top: 1px;
  left: 20px;
  transition: all 0.3s;
}

.switch_control {
  display: flex;
  align-items: bottom;
}

.switch_label {
  margin: 5px 0 0 0;
  display: inline-block;
  height: 20px;
  width: 200px;
  text-align: right;
}

.switch_wrapper {
  margin: 5px 0 0 0;
  display: inline-block;
  height: 20px;
}

#performance_controls .switch_control .switch_label {
  width: auto;
  margin: 0 25px 0;
}

input[type='checkbox']:checked + .switch::after {
  left : 1px;
}

input[type='checkbox']:checked + .switch {
  background-color: #7983ff;
}

input[type='checkbox'] {
  display : none;
}